[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "nlWaldTest"]
	path = nlWaldTest
	url = https://github.com/cran/nlWaldTest
	shallow = true
	registered = true
